@use './partials/variables' as *;
@use './partials/mixin' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto Condensed', sans-serif;
}

img{
  max-width: 100%;
}

.container{
  width: 70%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6{
  color: $text-color;
}